


<nav class="w-full h-[10vh] px-0.5 bg-gray-400 flex justify-between items-center ">
    <h1 class="text-4xl">BOOK STORE</h1>
    <div class="right w-6/12 flex justify-around items-center text-xl ">
      <h3><a href="/">HOME</a></h3>
      <h4><a href="/create">CREATE</a></h4>
      <h4><a href="/read">READ</a></h4>
      <h4>CONTACT US</h4>
      <h4><a href="/about">ABOUT</a></h4>
    </div>
  </nav>