<nav>
    <h1>BOOK STORE</h1>
    <div class="right">
      <h3><a href="/">HOME</a></h3>
      <h4><a href="/create">CREATE</a></h4>
      <h4><a href="/read">READ</a></h4>
      <h4>CONTACT US</h4>
      <h4><a href="/about">ABOUT</a></h4>
    </div>
  </nav>